<div class="container text-center">
<h1 class="m-5">DEPARTMENTS Template</h1>

<form [formGroup]="deptForm" class="form-group">

    <label class="m-2"for="dept">Department :  </label>

  <input type="text" id ="dept" formControlName="departname">

  <select class ="btn m-2 bg-dark text-white"name="schoolnam" id="schoolnam">
    <option value="" disabled selected hidden>Schools</option>
      <option value="sample1">sample</option>
      <option value="sample2">sample2</option>
  </select>
  
  <h2>Programs</h2>

  <div formArrayName="progarr">
    <div *ngFor="let item of progs.controls; let pointIndex=index" [formGroupName]="pointIndex"> 
    <label>
      Program {{pointIndex+1}}: <input formControlName="program" />
    </label>
    <button type="button" class ="btn btn-danger m-1" (click)="deleteProgram(pointIndex)">Delete</button>
    </div>
    <button type="button"class ="btn btn-primary m-1" (click)="addProgram()">Add Program</button>
  </div>

</form>
{{ this.deptForm.value | json}}
{{ this.deptForm.value.departname | json}}
</div>
<p></p>
<div class="container">
<table class="table text-center table-bordered bg-dark text-white">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">School</th>
        <th scope="col">Department</th>
        <th scope="col">Program</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>






