<div class="container-flex text-center">
  
<div class="text-center m-5 text-wrap">
  <h1>SCHOOLS template</h1>
</div>

<form [formGroup]="productForm" (ngSubmit) ="onSubmit()">

  
  <h2 class="align-middle">ADD function</h2>

  <div formArrayName="schoolarr">
    <div *ngFor="let item of schools.controls; let pointIndex=index" [formGroupName]="pointIndex"> 
    <label class="p-3">
      School {{pointIndex+1}}: <input formControlName="name" />
    </label>
    <button type="button"class ="btn btn-danger" (click)="deleteSchool(pointIndex)">Delete</button>
    </div>
    <button type="button" class="btn btn-primary m-1" (click)="addSchool()">Add School</button>
  </div>
  <button type="submit" class="btn btn-secondary m-2">Submit</button>
</form>

</div>


{{ this.productForm.value | json}}
<p></p>
{{this.sampler | json}}
<p></p>
<div class="container">
<table class="table text-center table-bordered bg-dark text-white">
  <thead>
    <tr colspan = "2">
      <th scope="col">No.</th>
      <th scope="col">School</th>
      
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Jacob</td>
    </tr>
  </tbody>
</table>
</div>-->
<p>-----------------------------------------------------------</p>

<app-product-form></app-product-form>-->

<p>-----------------------------------------------------------</p>

<app-user></app-user>


