
<h1 class="text-center p-7">USER INFO Template</h1>


<form [formGroup]="userForm" (ngSubmit) ="onSubmit()">

  
<div class="container text-center">
  <div class="span5">
    <div class="p-2">
      
      <input type="text" class="input-medium m-1" placeholder="Department Number" formControlName ="deptname">
      
      <select class = "btn btn-danger p-1"name="schoolnam" id="schoolnam" formControlName ="schooloption">
        <option value="" disabled selected hidden>DEPTID</option>
        <option value="sample1">depid1</option>
        <option value="sample2">depid2</option>
    </select>
      
  </div>
    </div>
    <div class="p-2">   
      
      <input type="text" class="input-medium" placeholder="Name" formControlName ="name" >
    </div>
    <div class="p-2">   
       
      <input type="text" class="input-medium" placeholder="Email" formControlName ="email">
    </div>       
    <div class="col p-2">     
        
      <input type="text" class="input-medium" placeholder="Phone Number" formControlName ="phnum">
    </div>
    <div class="p-2">
      
      <input type="text" class="input-medium" placeholder="Password" formControlName ="pass">  
    </div>
    
  </div>

</form>

<div class="container">
  <table class="table table-bordered bg-dark text-white m-5">
      <thead>
        <tr>
          <th scope="col">No.</th>
          <th scope="col">Dept ID</th>
          <th scope="col">Department Number</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">PhoneNumber</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th scope="row p-2">3</th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>







{{ this.userForm.value | json}}

<p></p>





